.spec-preview {
  border: 1px solid #ddd;
  position: relative;
}

.jqzoom {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jqzoom img {
  width: 200px;
}

.table-text {
  font-family: "calibri";
  font-size: 18px;
}
.custom-enlarged-image-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transform: translateX(10px); /* Adjust the positioning as needed */
}
.spec-scroll {
  clear: both;
  margin: 5px 0;
  width: 278px;
  height: 54px;
}
.spec-scroll .next,
.spec-scroll .prev {
  display: block;
  text-align: center;
  width: 19px;
  height: 54px;
  cursor: pointer;
}
.spec-scroll .prev {
  float: left;
  margin-right: 10px;
  background: url(../../../static/image/products/duo_left.gif) center no-repeat;
}
.spec-scroll .next {
  float: right;
  background: url(../../../static/image/products/duo_right.gif) center no-repeat;
}
.spec-scroll .items {
  float: left;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.spec-scroll .items ul {
  position: absolute;
  width: 184px;
  height: 56px;
  overflow: hidden;
  display: flex;
}

.spec-scroll .items ul li {
  float: left;
  width: 67px;
}

