@media (max-width: 1200px) {
  .nav .nav_box .nav_main ul {
    padding: 0;
  }
}

@media (max-width: 990px) {
  .header .xiala1 {
    width: 100%;
    margin: auto;
    background: #1e1e1e;
    position: fixed;
    height: 100%;
    z-index: 11111;
  }
  .header .xiala1 ul {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .header .xiala1 ul li a {
    color: #fff;
    font-size: 1.3em;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-bottom: 1px solid #7c7c7c;
  }
  .header .xiala1 .xiala1_f {
    height: 20rem;
    margin-top: 20px;
  }
  .header .xiala1 .xiala1_f a {
    color: #fff;
    letter-spacing: 0.6px;
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 9px 0 6px;
  }
  .swiper-pagination {
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%;
    text-align: right;
  }

  .banner .swiper-pagination-bullet {
    display: inline-block !important;
    background: url(../../static/assets/image/banner_p.png) no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    cursor: pointer !important;
    background-size: 50% !important;
  }
  .banner .swiper-pagination-bullet-active {
    display: inline-block !important;
    background: url(../../static/assets/image/banner_a.png) no-repeat !important;
    width: 30px !important;
    height: 30px !important;
    background-size: 50% !important;
  }

  .swiper-pagination-bullet {
    display: inline-block;
    width: 20px;
    height: 5px;
    background: #9fa0a0;
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background: #de0529;
  }
  .banner {
    width: 100%;
    height: auto;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.8;
    margin: 0 5px;
  }
  .swiper-pagination-bullet-active {
    background: #d10a05;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center !important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-slide img {
    width: 100%;
  }

  .in_main .cp_b2 .swiper-pagination-bullet {
    width: 15px;
    height: 5px;
    border-radius: inherit;
    background: #9fa0a0;
    opacity: 1;
  }
  .in_main .cp_b2 .swiper-pagination-bullet-active {
    background: #d10a05;
  }
  .in_main .cp_b2 .swiper-pagination-bullets {
    text-align: right !important;
    right: 5%;
    left: inherit;
  }
  .news_main1 .news_box .news_m {
    display: block;
  }
  .news_main1 .news_hd span {
    font-size: 1.8em;
    color: #000;
    margin-top: 5%;
    padding: 2% 5%;
    font-family: "Roboto", Vernana, Microsoft Yahei, Arial;
  }
  .zxns .zx_box .zx_list > ul > li a {
    display: block;
    text-align: center;
    font-size: 0.9em;
    border-top: 1px solid #b5b5b6;
    border-right: none;
    border-bottom: 1px solid #b5b5b6;
    border-left: 1px solid #b5b5b6;
    color: #666;
  }
  .zx_b .in_bg_s {
    width: 100%;
  }
  .zx_c {
    background: #e60012;
  }
  .xy_zp table .zw_d5 {
    display: none;
  }
  .tb_frist_t5 {
    display: none;
  }
  .cd_lt ul {
    display: flex;
    justify-content: space-between;
  }
  .cd_lt ul li {
    width: 100%;
  }
  .cd_main {
    display: block;
  }
  .cd_lt ul li a {
    display: block;
    text-align: center;
    font-size: 0.9em;
    border: 1px solid #b5b5b6;
    padding: 10px 0;
    font-size: 18px;
  }
  .typebox {
    display: none;
  }
  .ct_list .ct_d1 .cp_img3 {
    display: none;
  }
  .ct_list ul {
    display: flex;
    flex-wrap: wrap;
  }
  .ct_list ul li {
    display: block;
    width: 50%;
    border-bottom: 1px dotted #999;
    border-right: 1px dotted #999;
    padding: 6% 5% 0;
  }
  .ct_list .ct_d1 .cp_intro {
    display: block;
    margin: 0;
  }
  .ct_list .ct_d1 .ct_do {
    display: block;
  }
  .ct_list .ct_d1 .cp_intro .cp_tit em {
    font-size: 16px;
  }
  .ct_list .ct_d1 .cp_intro .cp_tit span {
    font-size: 32px;
  }
  .ct_list .ct_d1 .cp_ms {
    margin: 5% 0 0;
    overflow: hidden;
    max-height: 56px;
  }
  .ct_list .ct_d1 .cp_ms div {
    color: #777;
    font-size: 13px;
    padding-right: 40px;
    line-height: 1.5;
  }
  .ct_list .ct_d1 .cp_img2 {
    margin: 0;
  }

  .ct_list .col-lg-9 {
    height: 190px;
  }
  .ct_list .col-lg-2 {
    height: 170px;
    overflow: hidden;
  }
  .typebox_m {
    background: url(../assets//m//cp_bg3.png) no-repeat;
    width: 100%;
    height: 50px;
    background-size: 100%;
    margin: 10px auto 0;
    padding: 15px 10px 0;
    display: block;
  }
  .typebox_m a {
    cursor: pointer;
  }
  .cp_fl .swiper-wrapper {
    text-align: center;
  }
  .kt .cont img {
    width: 100%;
    height: auto !important;
    overflow: hidden;
    margin: 15px auto;
  }
  .kt .cont {
    width: 100%;
    font-size: 1.1em;
    line-height: 1.6;
  }
  .kt .gn_d2 {
    padding: 2% 5% 1%;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
    margin: 5% 0 2%;
    color: #111;
    font-family: "Roboto", Vernana, Microsoft Yahei, Arial;
  }
  .kt .kt_d5 {
    text-align: center;
    padding-bottom: 4%;
    border-bottom: 1px dashed #777;
  }
  .ct_xq .ct_xq_d1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .ct_xq .ct_xq_d1 .ct_xq_rt img {
    margin-right: 0;
  }
  .ct_xq .ct_xq_d1 .ct_xq_lt .ct_xqq {
    display: flex;
    flex-direction: column-reverse;
  }
  .kt .kt_d5 {
    margin: 0;
  }
}
