.menu {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media only screen and (min-width: 970px) {
  .menu li ul {
    position: absolute;
  }
}
@media only screen and (max-width: 970px) {
  .menu {
    flex-direction: column;
    text-align: center;
    background-color: black;
  }
  .menu li a {
    line-height: 2 !important;
  }
}

.active {
  background: #d80808;
  z-index: -1;
}

.submenu {
  white-space: nowrap;
}

.submenu a {
  line-height: 27px !important;
}

.submenu li {
  border-bottom: 1px solid red;
  width: 130px;
}

#liproducts:hover .submenu {
  display: block;
}

#linewslist:hover .submenu {
  display: block;
}

#liInfo:hover .submenu {
  display: block;
}

.container1 {
  max-width: 81.875em;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  height: auto;
}

.laugage_cursor {
  cursor: pointer;
}
