.active {
  background: #d80808;
  z-index: -1;
}

#liproducts:hover .submenu {
  display: block;
}

#linewslist-1:hover .submenu {
  display: block;
}

#liInfo:hover .submenu {
  display: block;
}

.container1 {
  max-width: 81.875em;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  height: auto;
}

.laugage_cursor {
  cursor: pointer;
}
